<div class="container-fluid" style="background-color:#16987e">
  <div style="text-align: center;padding-top:10px;">
    <span style="font-size: 5em; float:left;" class="glyphicon glyphicon-backward" ng-show="!vm.repeat" ng-click="vm.toggleRepeat()"></span>
    <span style="font-size: 5em; float:left;background-color:#18a689" class="glyphicon glyphicon-repeat" ng-show="vm.repeat" ng-click="vm.toggleRepeat()"></span>
    <span style="font-size: 5em;" class="glyphicon glyphicon-thumbs-up" ng-show="vm.currentSongUpvoteStatus==0 || vm.currentSongUpvoteStatus==-1" ng-click="vm.upvote()"></span>
    <span style="font-size: 5em;background-color:#18a689" class="glyphicon glyphicon-thumbs-up" ng-show="vm.currentSongUpvoteStatus==1" ng-click="vm.upvote()"></span>
    <span style="margin-left:50px"></span>
    <span style="font-size: 5em;" class="glyphicon glyphicon-thumbs-down" ng-show="vm.currentSongUpvoteStatus==0||vm.currentSongUpvoteStatus==1" ng-click="vm.downvote()"></span>
    <span style="font-size: 5em; background-color:#18a689;" class="glyphicon glyphicon-thumbs-down" ng-show="vm.currentSongUpvoteStatus==-1" ng-click="vm.downvote()"></span>
    <span style="font-size: 5em; float:right;" class="glyphicon glyphicon-forward"></span>
  </div>
</div>
