<section class="container-fluid page-header"><h1 fe-auto-localize>Playcenter</h1></section>



<div class="container">
<h1>Today's Playlist</h1>


  	<!-- thumb navigation carousel -->
    <div class="col-md-12 hidden-sm hidden-xs" style="text-align:center" id="slider-thumbs">

            <!-- thumb navigation carousel items -->
          <ul class="list-inline">
            <li ng-repeat="track in vm.currentTrackList"> <a>
              <img ng-src="{{vm.getCurrentSongImageUrl($index)}}" id="carousel-selector-{{$index}} class="img-responsive">
            </a></li>

          </ul>

    </div>


    <!-- main slider carousel -->
    <div class="row row-centered">
        <div  class="col-md-12" id="slider">
                <div id="carousel-bounding-box" style="text-align:center">
                    <div id="myCarousel" class="carousel slide" >
                      <div style="text-align:center;" class="carousel-inner">
                        <!-- main slider carousel items -->

                        <div ng-repeat="track in vm.currentTrackList" ng-class='{active:$first}' class="item" data-slide-number="{{$index}}">
                              <div>
                                <iframe ng-src="{{vm.getIFrameSource(track.id)}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                              </div>
                            </div>
                            <div track-Listitem></div>
                          </div>
                        </div>

                      </div>
                        <!-- main slider carousel nav controls --> <a ng-non-bindable class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>

                        <a ng-non-bindable class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>

        </div>
    </div>
    <!--/main slider carousel-->

<script>


   $('#myCarousel').carousel({
       interval: 4000000
   });

  // handles the carousel thumbnails
  $('[id^=carousel-selector-]').click( function(){
    var id_selector = $(this).attr("id");
    var id = id_selector.substr(id_selector.length -1);
    id = parseInt(id);
    $('#myCarousel').carousel(id);
    $('[id^=carousel-selector-]').removeClass('selected');
    $(this).addClass('selected');
    vm.playSong(id);
  });

  // when the carousel slides, auto update
  $('#myCarousel').on('slid', function (e) {
    var id = $('.item.active').data('slide-number');
    id = parseInt(id);
    console.log("trying to play song id:" + id);
    vm.playSong(id);
    $('[id^=carousel-selector-]').removeClass('selected');
    $('[id=carousel-selector-'+id+']').addClass('selected');
  });
</script>
