<div class="row">
  <div class="col-md-8" style="background-color:green">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive" src="http://fillmurray.com/300/300"/>
      </div>
      <div class="col-md-8">
        <h1>Bill Murray</h1>
      </div>
    </div>
    <h1>Person goes here or something</h1>
    <div ng-controller="ModalTestController as modalCtrl">
      <button type="button" class="btn btn-primary" ng-click="modalCtrl.open()">Edit Name</button>
    </div>

    <script type="text/ng-template" id="demo/modal/modalform.html">
      <bb-modal >
        <div class="modal-form" ng-controller="ModalContentController as modalCCtrl">
          <bb-modal-header bb-modal-help-key="'bb-security-users.html'">My Header</bb-modal-header>
          <div bb-modal-body>
            <form>
              <div class="form-group">
                <label class="control-label">Enter New Name</label>
                <input type="text" class="form-control" placeholder="New Name Here" ng-model="newName"/>
              </div>
            </form>
          </div>
          <bb-modal-footer>
            <bb-modal-footer-button-primary ng-click="modalCCtrl.saveName(newName)"></bb-modal-footer-button-primary>
            <bb-modal-footer-button-cancel></bb-modal-footer-button-cancel>
          </bb-modal-footer>
        </div>
      </bb-modal>
    </script>

  </div>
  <div class="col-mid-4" style="background-color:orange">
    <h2>contact info maybe</h2>
  </div>
</div>